* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

header {
    height: 100vh;
    width: 10vw;
    background-color: #000000;
    position: fixed;
    color: white;
    position: relative;
}

.menu img {
    width: 15%;
}

.bottom-header .flex img {
    width: 10%;
}

.bottom-header {
    position: absolute;
    left: 0;
    bottom: 0;
}

main > .upgrade {
    background-color: #080b12;
}

main {
    background-color: #141922;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

/* se tolgo fixed, torna a vedersi */
footer {
    background-color: #282828;
    height: 10vh;
    width: 100vw;
    position: fixed;
}