* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* non funziona */
.montserrat header {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* general */
.flex {
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.grey {
    color: #686868;
}

ul {
    list-style-type: none;
}

.uppercase {
    text-transform: uppercase;
}

h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

h3 {
    margin-left: 1rem;
    margin-top: 1rem;
}

/* header */
/* se metto all'header height: calc(100vh - 80px - footer), l'header esce */
header {
    width: 200px;
    height: 100vh;
    background-color: #000000;
    color: white;
}

.menu img {
    width: 20px;
}

.menu nav ul li,
.playlist nav ul li {
    margin-bottom: 1rem;
}

.logo {
    width: 150px;
    margin: 1rem 0rem 1rem 1rem;
}

.small-logo {
    display: none;
}

.bottom-header .flex img {
    width: 20px;
}

.bottom-header {
    left: 0;
    bottom: 0;
}

/* main */

.central-main {
    overflow-x: auto;
    overflow-y: auto;
    background-color: #141922;
    color: white;
    height: calc(100vh - 80px);
}

/* se metto height in px, si sballa tutto, così come se uso fixed */
main .top-main {
    background-color: #080b12;
    height: 80px;
    width: 90vw;
    display: flex;
    justify-content: right;
    align-items: center;
}

main button {
    background-color: #080b12;
    color: white;
    border: 1px solid white;
    border-radius: 0%;
    padding: 0.5rem 2rem;
}

main > .upgrade {
    background-color: #080b12;
}

.central-main .nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.central-main .nav ul li {
    margin-right: 1.5rem;
}

.song img {
    width: 90%;
    margin-left: 1rem;
}

.song {
    width: 15vw;
    margin-top: 1.5rem;
}

.song p {
    text-align: center;
}

/* footer */
/* se metto position:fixed con right e left 0, non si vede */
footer {
    background-color: #282828;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.left-footer img {
    margin-right: 2rem;
    width: 20%;
}

i {
    color: white;
}

.center-footer hr {
    border: none;
    border-top: 2px solid white;
    width: 19rem;
}

/* media queries */

@media screen and (max-width:768px) {

}

@media screen and (max-width:576px) {

}

@media screen and (min-width:576px){
    
}
