* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
.flex {
    display: flex;
}

.grey {
    color: #686868;
}

ul {
    list-style-type: none;
}

.uppercase {
    text-transform: uppercase;
}

/* header */
header {
    height: 90vh;
    width: 10vw;
    background-color: #000000;
    position: fixed;
    color: white;
    position: relative;
    z-index: 1;
}

.menu img {
    width: 15%;
}

.bottom-header .flex img {
    width: 10%;
}

.bottom-header {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* main */
main {
    width: 90vh;
}

.central-main {
    overflow: auto;
    background-color: #141922;
    height: 80vh;
    width: 100vw;
    color: white;
}

main .top-main {
    background-color: #080b12;
    height: 10vh;
    width: 100vw;
}

main button {
    background-color: #080b12;
    color: white;
}

main > .upgrade {
    background-color: #080b12;
}

.song img {
    width: 30%;
}

.justify {
    display: flex;
    text-align: center;
}

/* footer */
/* se metto position:fixed con right e left 0, non si vede */
footer {
    background-color: #282828;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.left-footer img {
    margin-right: 2rem;
}
